* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 10px;
  height: 100vh;
}

.container header, .container footer {
  height: 5rem;
  width: 100%;
  background: #bdc3c7;
  text-align: center;
  line-height: 5rem;
}

section {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  section {
    display: block;
  }
}

section .list, section .about {
  width: 200px;
  height: 100%;
}

@media (max-width: 620px) {
  section .list, section .about {
    width: 100%;
  }
}

section .list .list-item {
  text-align: center;
  background: #bdc3c7;
  list-style: none;
  margin: 3px;
  height: 2rem;
  line-height: 2rem;
  color: black;
}

section .list .list-item a {
  color: black;
}

section .about {
  background: #bdc3c7;
  text-align: center;
  margin: 3px;
  padding: 10px;
}

@media (max-width: 620px) {
  section .about {
    padding: unset;
    margin: 0 0 5px 0;
  }
}

section .main {
  width: calc(100% - 400px);
  height: auto;
}

@media (max-width: 620px) {
  section .main {
    width: 100%;
  }
}

section .main .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 3%;
}

@media (max-width: 620px) {
  section .main .border {
    margin: 0 auto;
    padding: unset;
  }
}

section .main .border .card {
  width: 23%;
  margin: 5px;
  text-align: center;
  min-width: 50px;
}

@media (max-width: 620px) {
  section .main .border .card {
    width: 100%;
    margin: 20px;
  }
}

section .main .border .card img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */