*{
   margin : 0 ; 
   padding : 0 ;
   font-family: 'Montserrat', sans-serif;
}
$mainColor : #bdc3c7;
$textColor : black ;
$mobile-width : 620px;
@mixin mobile {
   @media (max-width: #{$mobile-width}){
      @content;
   }
}
.container{
   margin: 10px;
   height: 100vh;
   header , footer{
      height: 5rem;
      width: 100%;
      background: $mainColor;
      text-align: center;
      line-height: 5rem;
   }
}

section{
   height: auto;
   width: 100%;
   display:flex;
   @include mobile(){
      display: block;
   }
   .list,.about{
     width: 200px;
     height: 100%;
     @include mobile{
        width: 100%;
     }
   }
   .list {
      .list-item{
         text-align: center;
         background: $mainColor;
         list-style: none;
         margin: 3px;
         height: 2rem;
         line-height: 2rem ;
         color: $textColor;
         a{
            color: $textColor; 
         }
      }
   }
   .about{
      background: $mainColor;
      text-align: center;
      margin: 3px;
      padding: 10px;
      @include mobile(){
         padding: unset;
         margin:0 0 5px 0 ;

      }
   }
   .main{ 
      width: calc(100% - 400px);
      height: auto;
      @include mobile(){
         width: 100%;
      }
      .border{
         display: flex;
         flex-wrap: wrap;
         padding-left: 3%;
         @include mobile(){
            margin: 0 auto;
            padding: unset;
         }
         .card{
            width: 23%;
            margin: 5px;
            text-align: center;
            min-width: 50px;
            @include mobile(){
               width: 100%;
               margin: 20px;
            }
            img{
               width: 100%;
            }
            
         }
      }
      
   }
}